<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Личный сайт</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>Личный сайт</h1>
    <nav>
      <a href="about"> О себе </a>
      <a href="#"> Контакты </a>
    </nav>
  </header>
  <main>
    <section>
      <h2>Главная</h2>
      <p>Это моя главная страница. Здесь я рассказываю о себе и своих увлечениях.</p>
    </section>
    <section>
      <h2>О себе</h2>
    </section>
    <section>
      <h2>Контакты</h2>
      <p>Мои контакты:
        <ul>
          <li>Email: [Gmail]</li>
          <li>Телефон: [телефон]</li>
          <li>Социальные сети: [ссылки]</li>
        </ul>
      </p>
    </section>
  </main>
  <footer>
    &copy; [00.00.0000] [Альберт]
  </footer>
</body>
</html>
